*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#grupoCero{
    width: 50px;
    height: 20px;
}
#ayuda{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 1px ;
    margin-top: 10px ;
}
#config{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 970px ;
    margin-top: 10px ;
}
#obras{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#actores{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#inicio{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#misTr{
    margin-left:350px;
    margin-top: 40px;
    border-color: black;
    width: 200px;
    height: 30px;

}
#subTr{
    border-color: black;
    background-color: dimgray;
    width: 200px;
    height: 30px;
}
#imagen21{
    margin-left: 110px;
    margin-top: 30px;
}
#nombre{
    margin-left: 600px;
    margin-top: -370px;
}
#desc{
    margin-left: 600px;
    margin-top: 30px;
}
#edad{
    margin-left: 600px;
    margin-top: 30px;
}
#años{
    margin-left: 600px;
    margin-top: 30px;
}
#aceptar{
    margin-top: 80px;
    margin-left: 550px;
    border-color: black;
    width: 110px;
    height: 30px;
}
#modificar{
    margin-left: 10px;
    border-color: black;
    width: 110px;
    height: 30px;
}#eliminar{
    margin-left: 10px;
    border-color: black;
    width: 110px;
    height: 30px;
}
#buscar{
    width: 130px; 
 }