*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#grupoCero{
    width: 50px;
    height: 20px;
}
#img1{
    border-color: black;
    margin-top: 50px;
    text-align: center;
}
#cargImag{
    border-color: black;
    text-align: center;
    margin-top: 5px;
}
#datos{
    border-color: black;
    text-align: center;
    margin-top: 10px;
}
#misTr{
    margin-top: 40px;
    border-color: black;
    width: 150px;
    height: 30px;

}
#subTr{
    border-color: black;
    background-color: dimgray;
    width: 150px;
    height: 30px;
}

#buscar{
    width: 130px; 
 }
#formulario{
    text-align: center;
    margin-top: 20px;
}
.container{
    text-align: center;
}