*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#grupoCero{
    width: 50px;
    height: 20px;
}
#ayuda{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 1px ;
    margin-top: 10px ;
}
#config{
    width: 20px;
    height: 20px;
    float: right;
    border-left: 500px;
    margin-left: 970px ;
    margin-top: 10px ;
}
#obras{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#actores{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}
#inicio{
    font-size: 15px;
    text-align: center;
    display: block;
    margin-top: 10px ;
    float: right;
}

#imagen3{
    margin-top: 1px;
    margin-right: 40px;
}
#tituloJocker{
    margin-top: 50px;
}
#nombreArt{
    margin-left: 860px;
    margin-top: -90px;
}
#precio{
    margin-top: 55px;
}
.btns{
    margin-left: 10px;
}
#inpuBuscar{
    margin-left: -810px;
}