body{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    
    width: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
}
label{
    clear: both;
    width: 180px;
}
button{
    clear: both;
    width: 10b 0px;

}
.error-control{
    border: 1px solid red;
}
label.error{
    color: red;
    width: 10px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -5px;
    margin-left: 10px;
}
#formulario{
    float: left;
    margin-top: 150px;
    margin-left: 20px;
}
#divIMG{
    float: left;
    margin-top: 150px;
}
#descripcion{
    width: 300px;
    height: 100px;
}
#nombres{
    width: 300px;
    
}
#costo{
    width: 100px;


}